@charset "UFT-8";

/*Configuraçõess gerais*/
* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    background-repeat: no-repeat;
    background-size: contain;
}

h1 {
    color: white;
    text-shadow: 3px 3px 0px #162594;
    padding: 10px;
}

/*Configurações de modo 
Aparehle em pe orientação: portrait*/
@media screen and (orientation: portrait){
    body {
    background-image: url(img/cev-portrait.jpg);
    background-position: center bottom;
    }
}


/*Configurações de modo Paisagem */
@media screen and (orientation: landscape) {
    body {
    background-image: url(img/cev-landscape.jpg);
    background-position: left bottom;
    }    
}
