@charset "UTF-8";


@font-face {
    font-family: 'Passion One';
    src: url('../font/PassionOne-Bold.ttf');}

@font-face {
    font-family: 'Sriracha';
    src: url('../font/Sriracha-Regular.ttf');
    text-align:center}

:root{
    --font1:verdana, Geneva, Tahoma, sans-serif;
    --font2:'Passion One', cursiva;
    --font3: 'Sriracha', cursiva;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: 1em;
}

html, body{
    min-height: 100vh;
    background-color: lightgrey;
    font-family: var(--font1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}


section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 4vw;
}


header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 8w;
}

header > p{
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}


section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 4vw;
    color: white;
}

section > P{
    padding-bottom: 1em;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem > p {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.514);
    text-shadow: 1px 1px black;
}

section.imagem{
    background-color: rgb(70, 70, 70);
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.411);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

section#img01 {
    background-image: url("../imagens/background001.jpg");
    background-position: right center;
}

section#img02 {
    background-image: url("../imagens/background002.jpg");
    background-position: top left;
}










footer {
    background-color: black;
    text-align: center;
    padding: 10px;
    color:white;
}
