@charset "UTF-8";

@media screen and (min-width: 786px){
    span#burguer{
        display: none;
    }
    menu {
        display: block;
    }

    menu > ul > li {
        display: inline-block;
    }

    main {
        max-width: 786px;
    }
}



[![Top Langs](https://github-readme-stats.vercel.app/api/top-langs/?username=NdondaDaniel2020&layout=compact&theme=transparent)](https://github.com/anuraghazra/github-readme-stats)